header {
	background: #bbb;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: auto;
}

nav {
	position: absolute;
	top: 115px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	transition: 0.1s;
	text-decoration: none;
}

nav a:hover {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	transition: 0.1s;
	text-decoration: underline;
}

body {
	font-family: 'Merriweather', serif;;
}

main {
}

form label, form legend {
	display: block;
	font-size:  20px;
	text-align: left;
	margin:  0 0 10px 0;
}

form {
	width: 940px;
	margin: 50px auto;

}

.input-padrao {
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 25px;
	width: 50%;

	border: 0px solid #555;
	background-color: #ddd;
	border-radius: 10px 10px 20px 10px;
}

.input-menor{
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 25px;
	width: 25%;

	border: 0px solid #555;
	background-color: #ddd;
	border-radius: 10px 10px 20px 10px;

}

.input-padrao:focus {
	color: white;
	background-color: #aaa;
    outline-width: 0px;


    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px #aaa inset;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: 0px solid white;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px #ddd inset;
}

.enviar{
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 25px;
	width: 25%;

	color: white;
	font-weight: bold;
	font-size: 16px;

	border: 0px solid #555;
	background-color: #bbb;
	border-radius: 10px 10px 20px 10px;
	cursor:pointer;
	transform: scale(1.0);

	transition: 0.2s background;
	transition: 0.2s transform;
}

.enviar:hover {

	background-color: #888;
	transform: scale(1.1);

	transition: 0.5s;

}

.checkbox {
	margin: 20px 0;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 10px 10px 30px 30px;
}

.produtos li:hover {
	border: 2px solid #C78C19;
	transition: 0.1s;
}

.produtos li:active {
	border: 3px solid #088C19;
	transition: 0.1s;
}

.produtos li:hover h2 {
	font-size: 35px;
	transition: 0.1s;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

 .produto-descricao {
 	font-size: 18px;

 }

 .produto-preco{
 	font-size: 22px;
 	font-weight: bold;
 	margin-top: 10px;
 }

 footer {
 	text-align: center;
 	background: url("img/bg.jpg");
 	padding: 40px 0;
	box-sizing: border-box;
	border: 0px;
	/*border-radius: 30px 30px 0px 0px;*/

 }

.copyright {
	color: #fff;
	font-size: 13px;
	margin: 20px 0 0;

 }

table {
	margin: 20px auto 40px auto;
}

thead {
	background:#bbb;
	color: white;
	font-weight: bold;
}

td,th {
	border: 1px solid #888;
	padding: 8px 15px;
}

/************************/
/* css da página inicial*/
/************************/
.banner {
	width: 100%;
	border-radius: 0 0 20px 20px;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em 0;
	clear: left;
	color: rgba(0,0,0,0.6);
}

.principal {
	margin:  0 0 1em;
	background: #fefefe;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin:  0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.conteudo-beneficios {
	width: 640px;
	margin: auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟆 ";
}

.imagem-beneficios {
	width: 60%;
	opacity: 30%;
	box-shadow: 0px 0px 0px 0px rgba(30,30,30,0.5);
	border-radius: 30px;
	transition: 400ms opacity;
}

.imagem-beneficios:hover {
	opacity: 100%;
	box-shadow: 5px 5px 10px 0px rgba(30,30,30,0.5);
	transition: 400ms;
}

.utensilios{
	width: 120px;
	float: left;
	border-radius: 10px;
	margin: 0 20px 0 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#fefefe 25%, #888 75%);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}


.beneficios {
	padding: 3em 0;
	background: #888;
}

.video{
	width: 560px;
	margin: 2em auto;
	border-radius: 30px;
}

@media screen and (max-width: 480px) {
	.caixa,.principal,.conteudo-beneficios,.produtos,.mapa-conteudo,.video {
		width:auto;
		padding: 0  10px;
	}

	h1 {
		text-align: center;
	}

	nav {
		text-align: center;
		position: static;
	}

	nav a {
		font-size:1em;
	}

	.titulo-principal{
		font-size: 1.5em;
	}

	.lista-beneficios,.imagem-beneficios{
		width: 100%;
	}

	form, form label, form legend, .formulario {
		width:auto;
		margin: 10px auto;
		padding: 0 5px;
	    font-size: 15px;
		
	}

	.input-padrao,.input-menor,.enviar  {
		width: 80%;

	}

	.video iframe {
		height: 190px;
	}

	.produtos li {
	    display: block;
	    margin: 20px auto;
	    width: 80%;
	}

	.produtos li img {
	    width: 90%;
	}

	.produtos li:hover h2 {
	font-size: 30px;
	transition: 0.1s;
    }
}